.historico_container {
    width: 80%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.179);
    border: 1px solid rgba(255, 255, 255, 0.561);
    padding: 24px;
    border-radius: 1em;
}

.historico_container h1 {
    color: #1565c0;
    margin: 1em 0 1em 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

@media(max-width: 767px) {
    .historico_container {
        width: 100%;
        box-shadow: none;
        border: none;
    }
}